<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../../../Desktop/webproject/public/ico/ooopic_1560300857.ico">
    <title>search_result.html</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color: rgb(238, 238, 238);">
    <nav class="navbar navbar-default" style="width: 60%;margin-left: auto;margin-right: auto;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="search.html">search <span class="sr-only">(current)</span></a></li>
                    <li><a href="backer.html">backer</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="about.html">about</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div
        style="background: url(C:\\Users\\11397\\Desktop\\webproject\\public\\img\\aboutus.jpg);color:white;width: 50%;margin-left: auto;margin-right: auto;">
        <br>
        <h1>&nbsp;&nbsp;&nbsp;关于我们</h1><br>
        <section>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;乒乓球场馆预定系统实现了对各个场馆、不同时间段的查询及预约，统一化的管理为用户提供了方便，也更好地协助了场馆管理员。
        </section>
        <div style="width:100%;height:300px"></div>
        <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: rgb(145, 141, 138);">
            <div class="container" style="text-align: center;margin-top: 10px;font-size: 14pt;">
                <a href="about_us.html">关于我们</a><span>|</span>
                <a href="http://www.dongsport.com/">友情链接</a><span>|</span>
                <a href="http://www.dongsport.com/">更多场馆</a><span>|</span>
                <a target="_blank" href="backer.html">后台管理</a>
                <br>乒乓球场馆预定系统
                <span>|</span>客服电话：010-12345678 </div>
        </nav>
    </div>
</body>

</html>