<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <link rel="shortcut icon" href="../../../Desktop/webproject/public/ico/ooopic_1560300857.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script>
        var url = window.location.href;
        var uid = url.slice(url.indexOf("?") + 5, url.indexOf("?") + 6);
        $("#nav-search").attr("href", "search.html?uid=" + uid);
        $.ajax({
            url: "http://localhost:3000/search-list",
            dataType: "jsonp",
            jsonp: "callback",
            jsonpCallback: "success_jsonpCallback"
        }).done(function (data) {
            $("#pic1").attr("src", data.pic1);
            $("#pic2").attr("src", data.pic2);
            $("#pic3").attr("src", data.pic3);
            $("#H1").text(data.H1);
            $("#H2").text(data.H2);
            $("#H3").text(data.H3);
            $("#int1").text(data.int1);
            $("#int2").text(data.int2);
            $("#int3").text(data.int3);
            $("a[name='link1']").attr("href", "gym.html?uid=" + uid + "&id=" + data.gid1);
            $("a[name='link2']").attr("href", "gym.html?uid=" + uid + "&id=" + data.gid2);
            $("a[name='link3']").attr("href", "gym.html?uid=" + uid + "&id=" + data.gid3);
        });
    </script>
</head>

<body style="background-color: rgb(238, 238, 238);">
    <nav class="navbar navbar-default" style="width: 60%;margin-left: auto;margin-right: auto;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="" id="nav-search">search <span class="sr-only">(current)</span></a></li>
                    <li><a href="backer.html" id="backer">backer</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="about.html">about</a></li>
                    <li><a href="index.html"><span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br><br>
    <div style="width: 40%;margin-left: auto;margin-right: auto;text-align: center;" class="jumbotron">
        <h1>搜索场馆</h1>
    </div>
    <div style="width: 40%;margin-left: auto;margin-right: auto;">
        <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="Search for..." id="text">
            <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="button" id="search">Go!</button>
            </span>
        </div>
        <br>
        <!--搜索条件-->
        <form>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2">
                        <label>搜索通过：</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="radio" name="select" id="place">地区
                    </div>
                    <div class="col-lg-2">
                        <input type="radio" name="select" id="price">最高价
                    </div>
                    <div class="col-lg-2">
                        <input type="radio" name="select" id="name">场馆名
                    </div>
                    <div class="col-lg-2">
                        <input type="radio" name="select" id="type">类型
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br><br>
    <!--展示栏-->
    <div style="width: 60%;margin-left: auto;margin-right: auto;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img src="" alt="图片未加载" id="pic1">
                        <div class="caption">
                            <h3 id="H1"></h3>
                            <p id="int1"></p>
                            <p><a href="" class="btn btn-primary" role="button" name="link1">去预约</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img src="" alt="图片未加载" id="pic2">
                        <div class="caption">
                            <h3 id="H2"></h3>
                            <p id="int2"></p>
                            <p><a href="" class="btn btn-primary" role="button" name="link2">去预约</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img src="" alt="图片未加载" id="pic3">
                        <div class="caption">
                            <h3 id="H3"></h3>
                            <p id="int3"></p>
                            <p><a href="" class="btn btn-primary" role="button" name="link3">去预约</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: rgb(145, 141, 138);">
        <div class="container" style="text-align: center;margin-top: 10px;font-size: 14pt;">
            <a href="about_us.html">关于我们</a><span>|</span>
            <a href="http://www.dongsport.com/">友情链接</a><span>|</span>
            <a href="http://www.dongsport.com/">更多场馆</a><span>|</span>
            <a target="_blank" href="backer.html?uid=0" id="backer">后台管理</a>
            <br>乒乓球场馆预定系统
            <span>|</span>客服电话：010-12345678 </div>
    </nav>
    <script>
        $(function () {
            var url = window.location.href;
            var uid = url.slice(url.indexOf("?") + 5, url.indexOf("?") + 6);
            $("#search").click(function () {
                var str = "";
                if ($("#text").val().length == 0) {
                    return alert("请输入内容!");
                }
                $("input[name='select']:checked").each(function (index, item) {
                    str = $(this).attr("id");
                    location.href = "search_result.html?uid=" + uid + "&type=" + str + "&" + $("#text").val();
                });
            })
        });
    </script>
</body>

</html>